.root {
    -fx-font-family: 'Segoe UI', Helvetica, Arial, sans-serif;
}

/* TextField */

.text-field {
    -fx-padding: 8px;
    -fx-border-radius: 6px;
    -fx-background-radius: 6px;
    -fx-background-color: #ffffff;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.16), 5, 0, 0, 1);
}

.text-field:focused {
    -fx-background-color: #f0f0f0;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.23), 8, 0, 0, 2);
}

.text-field .text-input {
    -fx-background-color: transparent;
}

.text-field .text-input:focused {
    -fx-background-color: transparent;
}

/* Button */

.button {
    -fx-padding: 4px 8px;
    -fx-border-radius: 6px;
    -fx-background-radius: 6px;
    -fx-background-color: #2ea44f;
    -fx-border-color: rgba(27, 31, 35, .15);
    -fx-border-width: 1px;
    -fx-text-fill: white;
    -fx-font-weight: 900;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.23), 8, 0, 0, 2);
}

.button:hover {
    -fx-background-color: #2c974b;
}

.button:disabled {
    -fx-background-color: #94d3a2;
    -fx-border-color: rgba(27, 31, 35, .1);
    -fx-text-fill: rgba(255, 255, 255, .8);
    -fx-cursor: default;
}

/* ComboBox */

.combo-box {
    -fx-padding: 4px 8px;
    -fx-border-radius: 4px;
    -fx-background-radius: 4px;
    -fx-background-color: #ffffff;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.1), 10, 0, 0, 0);
}

.combo-box:focused {
    -fx-background-color: #f0f0f0;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 10, 0, 0, 0);
}

.combo-box .list-cell {
    -fx-padding: 8px;
}

.combo-box .button {
    -fx-border-width: 0;
    -fx-border-color: transparent;
    -fx-background-radius: 5px;
    -fx-background-color: transparent;
    -fx-text-fill: #000000;
}

.combo-box .arrow-button {
    -fx-background-radius: 15px;
    -fx-background-color: transparent;
}

.combo-box .arrow {
    -fx-background-color: #666666;
}

.combo-box-popup .list-view .list-cell:filled:selected, .combo-box-popup .list-view .list-cell:filled:hover {
    -fx-background-color: #f0f0f0;
    -fx-text-fill: black;
}

/* Custom */
.header {
    -fx-font-size: 16px;
}

#debugViewBox {
    -fx-background-color: #f6f6f6;
    -fx-border-color: #000000;
    -fx-border-width: 5px;
    -fx-max-height: 70px;
    -fx-max-width: 200px;
    -fx-alignment: center;
}

#POIViewBox {
  -fx-background-color: #f6f6f6;
  -fx-border-color: #000000;
  -fx-border-width: 5px;
  -fx-max-height: 70px;
  -fx-max-width: 200px;
  -fx-alignment: center;
}

.debugHeader {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

#autocompleteListView {
    -fx-padding: 5px;
    -fx-background-color: #f9f9f9;
    -fx-background-radius: 6px;
    -fx-border-radius: 6px;
    -fx-border-color: #ccc;
    -fx-border-width: 1px;
}

#autocompleteListView .list-cell:hover {
    -fx-background-color: #2c974b;
}

#autocompleteListView .list-cell:filled:selected {
    -fx-background-color: #2c974b;
}



